.idea/

__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
.env

logs/

### VisualStudioCode ###
.vscode/**/*  
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/.history